.expense-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 10px;
    height: 100%;
    padding: 20px; 
}