.expense-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    min-height: 70px;
    flex-grow: 1;
    height: 70px !important;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid rgba(49, 48, 48, 0.839);
    border-radius: 10px;
    background-color: #353535;
    box-shadow: 2px 2px 5px rgb(121, 120, 122);
}

.amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 16%;
    border-radius: 8px;
    background-color: #9CFF2E;
    color: var(--my-shinny-green);
}
.amount > h1 {
    margin: 8px 10px 8px 10px !important;
    font-size: 1.2em;
    color: #252525;
    
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1.1/1;
    height: 80%;
    border: 1px solid #9CFF2E;
    background-color: #202020;
    border-radius: 5px;
    gap: 0px;

}
.date > h1 {
    margin: 0px !important;
    font-size: 1.6em;
    color: #9CFF2E;
}
.date > p {
    margin: 0px 0px 5px 0px  !important;
    font-size: 0.5em;
    color: #9CFF2E;
}

.title {
    color: white;
}

.title > h2 {
    font-size: 1.6em;
}