.expense-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    min-height: 70px;
    max-height: 70px;
    flex-grow: 1;
    height: 70px !important;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(49, 48, 48, 0.839);
    border-radius: 10px;
    background-color: #353535;
    box-shadow: 2px 2px 5px rgb(121, 120, 122);
}

.expense-content {
    display: flex;
    flex: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 16%;
    min-width: 80px !important;
    border-radius: 8px;
    background-color: #9CFF2E;
    color: var(--my-shinny-green);
}
.amount > h1 {
    margin: 8px 10px 8px 10px !important;
    font-size: 1.2em;
    color: #252525;
    
    
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1 !important;
    height: 50px;
    border: 1px solid #9CFF2E;
    background-color: #202020;
    border-radius: 5px;
    gap: 0px;

}
.date > h1 {
    margin: 0px !important;
    font-size: 1.6em;
    color: #9CFF2E;
}
.date > p {
    margin: 0px 0px 5px 0px  !important;
    font-size: 0.5em;
    color: #9CFF2E;
}

.title {
    display: flex;
    align-items: center;
    height: 90%;
    justify-content: center;
    color: white;
    padding-top: 10px;
    margin: 0 10px 0 10px;
}

.title > h2 {
    font-size: 1.6em;
}

.edits {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.edits > hr {
    height: 50px;
    border-width: 2px;
    width: 2px;
    color: white;
    background-color: white;
}

.edits .icons {
    display : flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 15px; 
    gap: 5px;
}

.icons i:hover {
    cursor: pointer;;
}


@media screen and (min-width: 850px) and (max-width:1150px) {
    .expense-item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .title > h2 {
        font-size: 1.1em;
    }
    .amount {
        width: 20%;
    }
    .amount > h2 { 
        font-size: 0.8em;
    }
}


@media screen and (max-width: 600px) {
    .expense-item {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title > h2 {
        font-size: 1.0em;
    }
    .amount > h1 {
        font-size: 1.0em;
    }
    .date > h1 {
        font-size: 1.3em;
    }
    
}