.monthly-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 60%;
    height: 90%;
    width: 95% !important;
    border-radius: 10px;
    background-color: #303030;
    padding: 0 20px 0 20px;

}


@media screen and (max-width: 850px) {
    .monthly-summary {
        padding: 20px;
        aspect-ratio: 1.5/1 !important;
    }
}


@media screen and (max-width: 600px) {
    .monthly-summary {
        width: 98% !important;
        aspect-ratio: 1.4/1 !important;
        padding: 10px 5px 10px 5px;
    }
}