
.app-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 70%;
    height: 100vh;
    align-items: center !important;
    background-color: #f8f8f8f8;
    padding: 20px 0 20px 0;
}

.title-heading {
    display: flex;
    flex-direction: column;
    flex: 100%;
    justify-content: center;
    align-items: center;
}

.title-heading > h3 {
    align-self: flex-start;
    margin-left: 40px; 
}

.filter-by-year {
    display: flex;
    width: 98%;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}

.filter-by-year > select {
    width: 15%;
    height: 1.8em;
}



@media  screen and (max-width: 1400px) {
    .app-container {
        width: 98vw !important;
    }    
}


@media screen and (max-width: 800px){
    .app-container {
        width: 100%;
    }
}