
.app-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    align-items: center !important;
    background-color: #f8f8f8f8;
    padding: 10px 5px 10px 5px;
}

.title-heading {
    display: flex;
    flex-direction: column;
    flex: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.title-heading > h3 {
    align-self: flex-start;
    margin-left: 40px; 
}

.filter-by-year {
    display: flex;
    width: 98%;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}

.filter-by-year > select {
    width: 15%;
    min-width: 100px;
    height: 1.8em;
}



@media  screen and (max-width: 1400px) {
    .app-container {
        width: 98vw !important;
    }    
}


@media screen and (max-width: 850px){
    .app-container {
        width: 100%;
    }

    .title-heading {
        padding-bottom: 25px;
        padding-right: 25px;
    }
}

@media  screen and (max-width:600px) {
    .filter-by-year {
        gap: 10px;
    }
    .title-heading > h3 {
        margin-left: 10px;
    }
    .filter-by-year > h5 {
        font-size: 0.9em;
        margin-top: 8px;
    }
}